@model Sistema.laboratorio.Paciente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacienteNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacienteEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacienteTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteDni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacienteDni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteFechaNac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacienteFechaNac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteSexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacienteSexo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PacienteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
